body {
    background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/pink_rice.png");
    font-family: 'Arial','Helvetica','sans-serif';
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    overflow:hidden;
    text-align:center;
    height:50px;
    padding: 30px;
    background-color: beige;
    border-bottom: 3px solid #b6bdc5;
}

#heading{
    max-width: 1200px;
    min-width: 1200px;
    overflow: hidden;
}

.link{
    color:grey;
    font-size:20px;
    text-decoration:none;
    padding-right: 20px;
    padding-left: 10px;
}


#nam{
    float: left;
    font-size: 45px;
    color: #146e92;
    max-width:500px;
}

nav{
    float:right;
    padding-top:10px;
    padding-bottom:30px;
    font-size: 25px;
}

#text{
    width: 600px;
    font-size: 1.2rem;
    line-height:1.5;
    float: left;
    background-color: beige;
    font-family: 'Helvetica';
    padding: 30px;
    padding-top: 15px;
    margin-left: 120px;
    margin-top:30px;
    border: 3px solid #d0c8e0;
}

#image{
    float: right;
    max-width: 200px;
    padding: 30px;
    height: 250px;
}

input{
    color:blue;
}

#relevant{
    float: right;
    padding: 20px;
    margin-top: 150px;
    text-align: right;
    border-right: 3px solid;
    border-bottom: 3px solid;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    width: 1200px;
    color: #7b7396;
}

footer{
    text-align:center;
    background-color:#38312a;
    color:#dcccea;
    border-top:9px solid #6c6682;
    font-family:'Arial','Helvetica','sans-serif';
    height: 80px;
    clear: both;
    margin-top: 30px;
    padding-top: 30px;
}