body {
    background-color: #e0d9c5;
    font-family: 'Arial','Helvetica','sans-serif';
}

#nam {
    text-align: left;
    font-size: 45px;
    color: #146e92;
    width: 1150px;
    padding: 30px;
    background-color: beige;
    margin-left: 80px;
}

#text{
    width: 700px;
    font-size: 25px;
    float: left;
    background-color: beige;
    font-family: 'Helvetica';
    padding: 30px;
    margin-left: 80px;
}

#image{
    float: right;
    max-width: 200px;
    padding: 30px;
    height: 250px;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    width: 1200px;
    color: #3d288c;
}