body {
    background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/pink_rice.png");
    font-family: 'Arial','Helvetica','sans-serif';
}


header {
    width: 1100px;
    height:50px;
    padding: 30px;
    background-color: beige;
    margin-left: 80px;
    border-bottom: 3px solid #b6bdc5;
    border-left: 3px solid #b6bdc5;
}

#heading{
    
}

.link{
    color:grey;
    font-size:20px;
    text-decoration:none;
    padding-right: 20px;
    padding-left: 10px;
}


#nam{
    float: left;
    font-size: 45px;
    color: #146e92;
}

nav{
    float:right;
    padding-top:10px;
    padding-bottom:30px;
    font-size: 25px;
}

#text{
    width: 700px;
    font-size: 25px;
    float: left;
    background-color: beige;
    font-family: 'Helvetica';
    padding: 30px;
    margin-left: 80px;
    border: 3px solid #d0c8e0;
}

#image{
    float: right;
    max-width: 200px;
    padding: 30px;
    height: 250px;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    width: 1200px;
    color: #3d288c;
}